.button {
  width: 180px;
  height: 45px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $main-color;
  letter-spacing: 0.05em;
  background-color: rgba(27, 45, 55, 0);
  border: 1px solid $main-color;
  box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.button--info {
  margin-left: 50px;
  margin-top: 3px;
  outline: none;

  &:hover {
    color: $complementary-color;
    background-color: $main-color;
  }
}

.button--promo {
  display: block;
  font-size: 16px;
  line-height: 19px;
  width: 407px;
  height: 55px;
  text-decoration: none;
  text-align: center;
  margin-left: 184px;
  margin-bottom: 130px;
  padding-top: 17px;
  border: none;
  background-color: $complementary-color;

  &:hover {
    color: $complementary-color;
    background-color: $main-color;
  }
}

.button--about {
  display: block;
  color: $complementary-color;
  border: 1px solid $complementary-color;
  text-align: center;
  padding-top: 14px;
  text-decoration: none;

  &:hover {
    color: $main-color;
    background-color: $complementary-color;
  }
}

@media (max-width: $tablet-width) {

  .button--info {
    display: none;
  }

  .button--promo {
    width: 379px;
    margin-left: 113px;
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-width) {

  .button--promo {
    width: 290px;
    margin: 0 auto;
  }
}
