.info {
  display: flex;
  font-family: "PTMono", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $main-color;
  max-width: 1415px;
  margin-bottom: 173px;
}

.info__logo {
  height: 52px;
}

.info__contact {
  display: flex;
  justify-content: space-between;
  margin-left: 74vw * 0.39;
}

.info__email {
  display: flex;
}

.info__phone {
  display: flex;
  margin-left: 74vw * 0.06;
}

.info__email-img {
  width: 19px;
  height: 14px;
  margin-top: 2px;
  margin-right: 20px;
  background-image: url(../img/info-mail.svg);
  background-repeat: no-repeat;
  background-size: 19px 14px;
}

.info__phone-img {
  width: 18px;
  height: 18px;
  margin-top: 2px;
  margin-right: 16px;
  background-image: url(../img/info-phone.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

@media (max-width: $tablet-width) {

  .info {
    justify-content: space-between;
    max-width: 720px;
    margin-bottom: 4px;
  }

  .info__email-img {
    width: 25px;
    height: 19px;
    margin-top: 0;
    margin-right: 0;
    background-size: 25px 19px;
  }

  .info__email-text {
    display: none;
  }

  .info__phone {
    margin-left: 96vw * 0.05;
  }

  .info__phone-img {
    width: 24px;
    height: 24px;
    margin-top: 0;
    margin-right: 0;
    background-size: 24px 24px;
  }

  .info__phone-number {
    display: none;
  }
}
