.page-header {
  padding-top: 33px;
  padding-bottom: 103px;
  background-color: #1B2D37;
  background-image: url(../img/promo-mask-desktop.png), url(../img/promo-polygon-desktop.png);
  background-repeat: no-repeat, no-repeat;
}

.page-header__box {
  max-width: 1494px;
  margin: 0 auto;
}
