.page-footer {
  padding-top: 65px;
  background-color: #FAFAFA;
}

.page-footer__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1472px;
  margin: 0 auto;
  padding-bottom: 57px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  width: 1055px;
}

.page-footer__line {
  display: none;
}

@media (max-width: $tablet-width) {

  .page-footer {
    padding-top: 19px;
  }

  .page-footer__box {
    flex-wrap: wrap;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 36px;
  }

  .page-footer__container {
    width: 720px;
    margin: 0 auto;
    padding-top: 38px;
  }
}

@media (max-width: $mobile-width) {

  .page-footer {
    padding-top: 46px;
  }

  .page-footer__box {
    padding-bottom: 0;
  }

  .page-footer__container {
    display: block;
    width: 100%;
    padding-top: 0;
  }

  .page-footer__line {
    display: block;
    margin: 0;
    height: 1px;
    border: none;
    background-color: rgba(98, 105, 98, 0.2);
  }
}
