.page-main__box {
  padding-top: 112px;
  padding-bottom: 96px;
  background-color: $main-color;
  background-image: url(../img/main-polygon-center.png), url(../img/main-polygon-topleft.png), url(../img/main-polygon-bottomleft.png), url(../img/main-polygon-right.png);
  background-repeat: no-repeat;
  background-position-x: 550px, 195px, 0, 1550px;
  background-position-y: 145px, 45px, 444px, 397px;
}

@media (max-width: $tablet-width) {

  .page-main__box {
    padding-top: 55px;
    padding-bottom: 74px;
    background: none;
    background-image: url(../img/main-polygon-tablet.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 95px;
  }
}

@media (max-width: $mobile-width) {

  .page-main__box {
    padding-top: 38px;
    padding-bottom: 65px;
    background: none;
    background-image: url(../img/main-polygon-mobile.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 635px;
  }
}
