.promo {
  max-width: 1580px;
  padding-top: 58px;
  padding-bottom: 25px;
  background-image: url(../img/promo-desktop.png), url(../img/promo-polygon-desktop.png);
  background-repeat: no-repeat, no-repeat;
  background-position-x: right;
  background-position-y: 0, -110px;
}

.promo__headline {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $main-color;
  margin: 0;
  margin-bottom: 26px;
  margin-left: 85px;
}

.promo__call {
  position: relative;
  font-family: "PTMono", Arial, sans-serif;
  font-size: 22px;
  line-height: 34px;
  color: $main-color;
  width: 683px;
  margin: 0;
  margin-left: 184px;
  margin-bottom: 43px;

  &::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    left: -94px;
    top: 16px;
    background: $main-color;
  }
}

.promo__scroll {
  display: inline-block;
  text-decoration: none;
  font-family: "PTMono", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $main-color;
  opacity: 0.5;
  margin-left: 51px;
  transform: rotate(-90deg);

  &:hover {
    opacity: 1;
  }
}

.promo__mobile {
  display: none;
}

@media (max-width: $tablet-width) {

  .promo {
    background-image: url(../img/promo-tablet.png), url(../img/promo-polygon-tablet.png);
    background-repeat: no-repeat, no-repeat;
    background-position-x: right;
    background-position-y: 40px,-72px;
    max-width: 1023px;
    padding-top: 108px;
  }

  .promo__headline {
    font-size: 60px;
    line-height: 70px;
    width: 470px;
    margin: 0;
    margin-bottom: 28px;
    margin-left: 89px;
    margin-top: 9px;
  }

  .promo__call {
    font-size: 18px;
    line-height: 28px;
    width: 356px;
    margin: 0;
    margin-left: 140px;
    margin-bottom: 55px;

    &::before {
      width: 33px;
      left: -47px;
    }
  }

  .promo__scroll {
    display: none;
  }
}

@media (max-width: $mobile-width) {

  .promo {
    background-image: url(../img/promo-mobile.png), url(../img/promo-polygon-mobile.png);
    background-repeat: no-repeat, no-repeat;
    background-position-x: right;
    background-position-y: 23px,-69px;
    max-width: 766px;
    padding-top: 217px;
  }

  .promo__headline {
    font-size: 40px;
    line-height: 47px;
    width: 277px;
    margin: 0;
    margin-bottom: 28px;
    margin-left: 15px;
  }

  .promo__call {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    margin: 0;
    margin-left: 67px;
    margin-bottom: 42px;

    &::before {
      width: 33px;
      left: -47px;
      top: 14px;
    }
  }

  .promo__mobile {
    display: inline;
  }

  .promo__desktop {
    display: none;
  }
}
