.rights {
  border-top: 1px solid rgba(98, 105, 98, 0.2);
  padding-top: 15px;
  padding-bottom: 15px;
}

.rights__box {
  display: flex;
  justify-content: space-between;
  max-width: 1472px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.rights__box p {
  font-family: "PTMono", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(27, 45, 55, 0.5);
  margin: 0;
}

.rights__box p:nth-child(3) {
  width: 37%;
}

@media (max-width: $tablet-width) {

  .rights {
    padding-top: 21px;
    padding-bottom: 24px;
  }

  .rights__box {
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
  }

  .rights__box p:first-child,
  .rights__box p:nth-child(2) {
    display: none;
  }

  .rights__box p:nth-child(3) {
    width: 50%;
  }
}

@media (max-width: $mobile-width) {

  .rights {
    padding-top: 28px;
    padding-bottom: 5px;
  }

  .rights__box {
    display: block;
    max-width: 290px;
    margin: 0 auto;
  }

  .rights__box p {
    text-align: center;
    margin-bottom: 21px;
  }

  .rights__box p:nth-child(3) {
    width: 100%;
  }
}
