.services {
  padding-top: 90px;
  padding-bottom: 107px;
  background-color: #1B2D37;
}

.services__container {
  max-width: 1170px;
  margin: 0 auto;
}

.services__headline {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: $main-color;
  margin: 0;
  margin-bottom: 50px;
}

.services__box {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% / 3) - 20px);
  height: 620px;
  text-decoration: none;
  margin-bottom: 20px;
}

.services__item:nth-child(3n+2) {
  margin-left: 30px;
  margin-right: 30px;
}

.services__item img {
  position: absolute;
  top: 0;
  opacity: 0.2;
  width: 100%;
}

.services__name {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $main-color;
  width: 160px;
  margin-left: 45px;
  margin-top: 50px;
}

.services__button {
  position: relative;
  align-self: flex-end;
  width: 63px;
  height: 63px;
  background-color: $complementary-color;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -2px;
    border: 1px solid $main-color;
    border-left: none;
    border-top: none;
    background-color: transparent;
    box-sizing: border-box;
    transform: rotate(-45deg);
  }
}

@media (max-width: $tablet-width) {

  .services {
    padding-top: 53px;
    padding-bottom: 33px;
  }

  .services__container {
    width: 720px;
  }

  .services__box {
    flex-direction: column;
  }

  .services__headline {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 47px;
  }

  .services__item {
    width: 720px;
    height: 256px;
    margin-bottom: 45px;
  }

  .services__item--component p {
    margin-top: 52px;
  }

  .services__item:nth-child(3n+2) {
    margin-left: 0;
    margin-right: 0;
  }

  .services__item img {
    width: 720px;
    height: 256px;
  }

  .services__name {
    margin-top: 40px;
  }

  .services__button {
    margin-top: -97px;
  }
}

@media (max-width: $mobile-width) {

  .services {
    padding-top: 50px;
    padding-bottom: 33px;
  }

  .services__container {
    width: 290px;
  }

  .services__headline {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
  }

  .services__item {
    width: 290px;
    height: 256px;
    margin-bottom: 30px;
  }

  .services__item--component p {
    margin-top: 27px;
  }

  .services__item img{
    width: 290px;
    height: 256px;
  }

  .services__name {
    margin-left: 36px;
    margin-top: 20px;
    margin-right: -220px;
  }

  .services__button {
    margin-top: -116px;
  }
}
