.services {
  padding-top: 90px;
  padding-bottom: 127px;
  background-color: #1B2D37;
}

.services__container {
  width: 1170px;
  margin: 0 auto;
}

.services__headline {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 36px;
  line-height: 51px;
  color: $main-color;
  margin: 0;
  margin-bottom: 50px;
}

.services__box {
  display: flex;
  justify-content: space-between;
}

.services__item {
  display: flex;
  justify-content: space-between;
  width: 370px;
  height: 620px;
  background-image: url(../img/services-production.jpg);
  background-repeat: no-repeat;
  text-decoration: none;
}

.services__name {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $main-color;
  width: 160px;
  margin-left: 45px;
  margin-top: 50px;
}

.services__button {
  position: relative;
  align-self: flex-end;
  width: 63px;
  height: 63px;
  background-color: $complementary-color;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -2px;
    border: 1px solid $main-color;
    border-left: none;
    border-top: none;
    background-color: transparent;
    box-sizing: border-box;
    transform: rotate(-45deg);
  }
}

@media (max-width: $tablet-width) {

  .services {
    padding-top: 53px;
    padding-bottom: 33px;
  }

  .services__container {
    width: 720px;
  }

  .services__box {
    flex-direction: column;
  }

  .services__headline {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 47px;
  }

  .services__item {
    width: 715px;
    height: 256px;
    margin-bottom: 45px;
    background-image: url(../img/services-production-tablet.jpg);
  }

  .services__name {
    margin-top: 40px;
  }
}

@media (max-width: $mobile-width) {

  .services {
    padding-top: 50px;
    padding-bottom: 33px;
  }

  .services__container {
    width: 290px;
  }

  .services__headline {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .services__item {
    width: 290px;
    height: 256px;
    margin-bottom: 30px;
    background-image: url(../img/services-production-mobile.jpg);
  }

  .services__name {
    margin-left: 30px;
    margin-top: 20px;
  }
}
