.toggle {
  display: none;
}

@media (max-width: $mobile-width) {

  .toggle {
    display: block;
    position: absolute;
    width: 16px;
    height: 1px;
    top: 34px;
    right: 0;
    background-color: #C4C4C4;
    border: none;
    outline: none;
  }

  .toggle--closed::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #C4C4C4;
    transform: rotate(90deg);
  }
}
